// Fonts
@import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,700,800);

/* Мягкая прокрутка страницы */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: #000;
}

a {
    color: #00ae6c;
    text-decoration: underline;
    transition: color .2s ease-in;

    &:hover {
        color: #00dd88;
    }
}

a:focus,
button:focus {
    outline: none;
    // outline-offset: 2px;
    // outline: 1px auto #005fcc;
}

/* Title for each section */ 
.title-section {
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;
    color: #000;

    @include tablet {
        font-size: 32px;
    }

    @include mobile {
        font-size: 24px;
    }
}

.visible-desktop {
    display: block;

    @include tablet {
        display: none;
    }
}

.none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
}

// убираем прокрутку, когда открыта мобильная навигация
.no-scroll {
    overflow-y: hidden;
}